In [56]:
import pandas as pd
import numpy as np
import wbpy
import plotly 
plotly.tools.set_credentials_file(username='richongo', api_key='knfESm6zSffWin5ujtln')

In [43]:
file1 = "Economic_vs_Military.xlsx"
file2 = "StabilityScore.csv"

Stability_df = pd.read_csv(file2)
Aid_df = pd.read_excel(file1)
Aid_df.head()

  Row Labels  Year      Economic       Military   Grand Total
0     Angola  2002  1.659227e+08       0.000000  1.659227e+08
1     Angola  2003  2.155944e+08  395057.529807  2.159894e+08
2     Angola  2004  1.520490e+08  638258.217553  1.526873e+08
3     Angola  2005  8.311513e+07  387385.061877  8.350252e+07
4     Angola  2006  9.623060e+07  768343.338990  9.699894e+07

In [44]:
Aid_df = Aid_df.rename(columns={"Row Labels": "Country"})
Aid_df.head()

  Country  Year      Economic       Military   Grand Total
0  Angola  2002  1.659227e+08       0.000000  1.659227e+08
1  Angola  2003  2.155944e+08  395057.529807  2.159894e+08
2  Angola  2004  1.520490e+08  638258.217553  1.526873e+08
3  Angola  2005  8.311513e+07  387385.061877  8.350252e+07
4  Angola  2006  9.623060e+07  768343.338990  9.699894e+07

In [45]:
Stability_df.head()

,Unnamed: 0,AO,BI,BJ,ET,GH,KE,MG,ML,MZ,NA,NG,RW,SN,SL,SO,UG,ZA,ZW
0,2002,-1.577046,-2.288240,0.820294,-1.223214,-0.163768,-1.186471,-0.230007,0.410803,0.186406,0.145299,-1.625118,-1.653260,-0.274071,-0.688648,-2.375751,-1.418792,-0.253671,-1.521978
1,2003,-1.006538,-2.244527,0.679064,-1.408554,0.028774,-1.262862,0.621700,0.258126,0.246201,0.477721,-1.633998,-1.112363,-0.249980,-1.080389,-2.575844,-1.561003,-0.311745,-1.088343
2,2004,-1.062798,-2.523785,0.265107,-1.311482,0.039967,-1.086909,0.244328,0.453275,0.002372,0.664466,-1.753987,-1.187092,0.028721,-0.513328,-2.880443,-1.305026,-0.131361,-1.207500
3,2005,-0.887544,-1.524742,0.446816,-1.690749,0.168321,-1.249828,-0.021505,0.175682,0.124558,0.625277,-1.667195,-1.002252,-0.204454,-0.479250,-2.709518,-1.417637,-0.162605,-1.272914
4,2006,-0.541986,-1.427005,0.547010,-1.738937,0.008032,-1.125182,0.183486,0.413544,0.519501,0.782987,-2.034141,-0.682115,-0.264090,-0.302184,-2.748559,-1.140198,0.048197,-0.932961

In [46]:
Stability_df = Stability_df.rename(columns={"AO":"Angola", "BI": "Burundi", "BJ": "Benin", "ET":"Ethiopia", "GH": "Ghana", "KE":"Kenya", "MG": "Madagascar", "ML":"Malawi", "MZ":"Mozambique",  "NA": "Namibia", "NG":"Nigeria", "RW":"Rwanda", "SN": "Senegal", "SL":"Sierra Leone", "SO": "Somalia", "UG":"Uganda", "ZA":"South Africa", "ZW":"Zimbabwe"})
Stability_df.head()

,Unnamed: 0,Angola,Burundi,Benin,Ethiopia,Ghana,Kenya,Madagascar,Malawi,Mozambique,Namibia,Nigeria,Rwanda,Senegal,Sierra Leone,Somalia,Uganda,South Africa,Zimbabwe
0,2002,-1.577046,-2.288240,0.820294,-1.223214,-0.163768,-1.186471,-0.230007,0.410803,0.186406,0.145299,-1.625118,-1.653260,-0.274071,-0.688648,-2.375751,-1.418792,-0.253671,-1.521978
1,2003,-1.006538,-2.244527,0.679064,-1.408554,0.028774,-1.262862,0.621700,0.258126,0.246201,0.477721,-1.633998,-1.112363,-0.249980,-1.080389,-2.575844,-1.561003,-0.311745,-1.088343
2,2004,-1.062798,-2.523785,0.265107,-1.311482,0.039967,-1.086909,0.244328,0.453275,0.002372,0.664466,-1.753987,-1.187092,0.028721,-0.513328,-2.880443,-1.305026,-0.131361,-1.207500
3,2005,-0.887544,-1.524742,0.446816,-1.690749,0.168321,-1.249828,-0.021505,0.175682,0.124558,0.625277,-1.667195,-1.002252,-0.204454,-0.479250,-2.709518,-1.417637,-0.162605,-1.272914
4,2006,-0.541986,-1.427005,0.547010,-1.738937,0.008032,-1.125182,0.183486,0.413544,0.519501,0.782987,-2.034141,-0.682115,-0.264090,-0.302184,-2.748559,-1.140198,0.048197,-0.932961

In [47]:
Stability_df = Stability_df.rename(columns={"Unnamed: 0": "Year"})
Stability_df.head()

,Year,Angola,Burundi,Benin,Ethiopia,Ghana,Kenya,Madagascar,Malawi,Mozambique,Namibia,Nigeria,Rwanda,Senegal,Sierra Leone,Somalia,Uganda,South Africa,Zimbabwe
0,2002,-1.577046,-2.288240,0.820294,-1.223214,-0.163768,-1.186471,-0.230007,0.410803,0.186406,0.145299,-1.625118,-1.653260,-0.274071,-0.688648,-2.375751,-1.418792,-0.253671,-1.521978
1,2003,-1.006538,-2.244527,0.679064,-1.408554,0.028774,-1.262862,0.621700,0.258126,0.246201,0.477721,-1.633998,-1.112363,-0.249980,-1.080389,-2.575844,-1.561003,-0.311745,-1.088343
2,2004,-1.062798,-2.523785,0.265107,-1.311482,0.039967,-1.086909,0.244328,0.453275,0.002372,0.664466,-1.753987,-1.187092,0.028721,-0.513328,-2.880443,-1.305026,-0.131361,-1.207500
3,2005,-0.887544,-1.524742,0.446816,-1.690749,0.168321,-1.249828,-0.021505,0.175682,0.124558,0.625277,-1.667195,-1.002252,-0.204454,-0.479250,-2.709518,-1.417637,-0.162605,-1.272914
4,2006,-0.541986,-1.427005,0.547010,-1.738937,0.008032,-1.125182,0.183486,0.413544,0.519501,0.782987,-2.034141,-0.682115,-0.264090,-0.302184,-2.748559,-1.140198,0.048197,-0.932961

In [48]:
Stability_df.set_index('Year', drop=True)

,Angola,Burundi,Benin,Ethiopia,Ghana,Kenya,Madagascar,Malawi,Mozambique,Namibia,Nigeria,Rwanda,Senegal,Sierra Leone,Somalia,Uganda,South Africa,Zimbabwe
Year,,,,,,,,,,,,,,,,,,
2002,-1.577046,-2.288240,0.820294,-1.223214,-0.163768,-1.186471,-0.230007,0.410803,0.186406,0.145299,-1.625118,-1.653260,-0.274071,-0.688648,-2.375751,-1.418792,-0.253671,-1.521978
2003,-1.006538,-2.244527,0.679064,-1.408554,0.028774,-1.262862,0.621700,0.258126,0.246201,0.477721,-1.633998,-1.112363,-0.249980,-1.080389,-2.575844,-1.561003,-0.311745,-1.088343
2004,-1.062798,-2.523785,0.265107,-1.311482,0.039967,-1.086909,0.244328,0.453275,0.002372,0.664466,-1.753987,-1.187092,0.028721,-0.513328,-2.880443,-1.305026,-0.131361,-1.207500
2005,-0.887544,-1.524742,0.446816,-1.690749,0.168321,-1.249828,-0.021505,0.175682,0.124558,0.625277,-1.667195,-1.002252,-0.204454,-0.479250,-2.709518,-1.417637,-0.162605,-1.272914
2006,-0.541986,-1.427005,0.547010,-1.738937,0.008032,-1.125182,0.183486,0.413544,0.519501,0.782987,-2.034141,-0.682115,-0.264090,-0.302184,-2.748559,-1.140198,0.048197,-0.932961
2007,-0.666032,-1.375335,0.386123,-1.803412,-0.071786,-1.302541,0.089658,0.230948,0.357609,1.018452,-2.011331,-0.358308,-0.243886,-0.060830,-3.224753,-0.915109,0.215835,-1.108968
2008,-0.362911,-1.638164,0.374591,-1.730085,-0.027629,-1.391941,-0.470053,0.210366,0.381511,1.200234,-1.860629,-0.323934,-0.147697,-0.238069,-3.280530,-0.876257,0.049733,-1.213945
2009,-0.347262,-1.272694,0.403298,-1.640794,0.029943,-1.425457,-0.732853,-0.075571,0.626186,0.928174,-1.995072,-0.506201,-0.204305,-0.288517,-3.314937,-0.992435,-0.113299,-1.167150
2010,-0.226182,-1.625959,0.261260,-1.635101,0.026093,-1.165524,-0.978339,-0.182899,0.394422,0.846940,-2.211123,-0.272094,-0.417925,-0.236645,-3.130971,-1.000558,-0.029427,-1.104014
2011,-0.369238,-1.807200,0.318356,-1.506964,0.167112,-1.244791,-0.705586,-0.708380,0.332048,0.911658,-1.956455,-0.177118,-0.280602,-0.168445,-3.083847,-0.976102,0.024032,-0.945329
2012,-0.389323,-1.704738,0.364368,-1.564271,0.130695,-1.323441,-0.536137,-2.034329,0.390494,0.978104,-2.042074,-0.230615,-0.108322,-0.279945,-2.860755,-0.868967,-0.025387,-0.778662
2013,-0.391234,-1.350278,0.301189,-1.407307,0.060606,-1.166931,-0.659993,-1.722162,-0.226966,0.958810,-2.088478,-0.110952,-0.060723,-0.174718,-2.758687,-0.838691,-0.046295,-0.665950
2014,-0.333232,-0.784407,0.027140,-1.339387,-0.106808,-1.282247,-0.557236,-1.713989,-0.336003,0.608741,-2.130276,-0.313470,-0.198223,-0.104040,-2.515828,-0.941126,-0.146389,-0.713570
2015,-0.500898,-1.939511,-0.013514,-1.498187,-0.032099,-1.244406,-0.427363,-1.685664,-0.513895,0.733113,-1.925443,0.013241,-0.116665,-0.102517,-2.380828,-0.804502,-0.212993,-0.618156
2016,-0.315899,-1.970721,-0.002027,-1.619813,-0.130929,-1.354791,-0.290095,-1.617233,-1.094005,0.710090,-1.877710,-0.054899,-0.218255,-0.159926,-2.357363,-0.715323,-0.141504,-0.619938
2017,-0.294626,-1.970385,0.045325,-1.687409,0.086481,-1.084383,-0.334092,-1.910102,-0.975530,0.650074,-1.943169,0.039197,-0.044704,0.029830,-2.326141,-0.557396,-0.267319,-0.774265

In [49]:
#pivot columns into rows
Stability_pivot = Stability_df.melt(id_vars=["Year"], 
        var_name="Country", 
        value_name="Total Stability")
Stability_pivot.head(10)

   Year Country  Total Stability
0  2002  Angola        -1.577046
1  2003  Angola        -1.006538
2  2004  Angola        -1.062798
3  2005  Angola        -0.887544
4  2006  Angola        -0.541986
5  2007  Angola        -0.666032
6  2008  Angola        -0.362911
7  2009  Angola        -0.347262
8  2010  Angola        -0.226182
9  2011  Angola        -0.369238

In [50]:
Combined_Aid_Stability = pd.merge(Aid_df, Stability_pivot, on=['Country','Year'])
Combined_Aid_Stability.set_index('Country', drop=True)

Combined_Aid_Stability.head(10)

  Country  Year      Economic       Military   Grand Total  Total Stability
0  Angola  2002  1.659227e+08       0.000000  1.659227e+08        -1.577046
1  Angola  2003  2.155944e+08  395057.529807  2.159894e+08        -1.006538
2  Angola  2004  1.520490e+08  638258.217553  1.526873e+08        -1.062798
3  Angola  2005  8.311513e+07  387385.061877  8.350252e+07        -0.887544
4  Angola  2006  9.623060e+07  768343.338990  9.699894e+07        -0.541986
5  Angola  2007  6.191552e+07  512302.664188  6.242783e+07        -0.666032
6  Angola  2008  6.537215e+07  396706.828528  6.576886e+07        -0.362911
7  Angola  2009  6.095525e+07  535667.400000  6.149092e+07        -0.347262
8  Angola  2010  1.114652e+08  417850.218081  1.118831e+08        -0.226182
9  Angola  2011  8.945588e+07  458935.004372  8.991482e+07        -0.369238

In [ ]:
#x_axis = Year
#y = stability
#x1 = Total Aid # size of the bubble

In [58]:
#pip install cufflinks in GitBash

Combined_Aid_Stability.iplot(kind='bubble', x='Year', y='Total Stability', size='Grand Total', text='Country',
             xTitle='Year', yTitle='Stability Index',
             filename='Aid_vs_Stability_bubbleplot')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\display.py:689: UserWarning:

Consider using IPython.display.IFrame instead